p {
	font-size:15px;
	font-weight: 400px;	
	}
	
h6 {
	font-size:16px;
	font-weight: bolder;
}

html, body{
	margin:0;
	width:100%;
  font-family: 'Roboto Condensed', sans-serif !important;
}

header{
margin:0;
padding:0;
}
header .container-fluid{
	padding: 20px 10px 15px 10px;
	background-color: #F73724;
	width:100%;
}
.none{
	margin-left: 20px;
}

.none div a:hover {
	text-decoration: none !important;
	color:white;
}
.hd-right{
	padding-bottom: 0;
}

.hd-right .btn,
.hd-right .btn:hover{
	font-weight:bolder;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none !important;	
	border-radius: 0;
	padding:0;
	margin-left: 10px;
}
.hd-right .al{
	color: white !important;
}
.hd-right .a{
	color: red !important;
}
.hdl{
	margin-bottom: 15px;
}
.arrow-right{
	width: 10px;
	height: 20px;
	color:red;
}
.empty{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	background-color: red;
	width: 60px;
	content: "";
	border-top: 13px solid red;
	border-left: 12px solid white; 
	padding:0;
}

.nav-link{
	color: black;
	font-weight: bolder;
	background-color: white;
	font-size: 19px;
}
form input{
	width:140px;
	border:none;
}
form input:active{
	border:0;
}
form button{
	position: absolute;
	width:35px;
	background: transparent;
	margin:0 0 0 -45px;
	border: none;
	border-radius:none;
}
.navbar-brand img{
	width: 396px;
	height: 60px;
}

.navbar, .navbar-inverse, .navbar-expand-lg, .navbar-light, .bg-light{
	width: 100%;
  padding:0;
}

.nav a{
	margin:20px;
	padding:10px; 
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bolder;
	display: inline-block;
	height: 30px;
}
.al{
	color: white;
	text-decoration:none;
}
.a{
	width: 130px;
	background-color: white;
	color: red;
	font-weight: bolder;	
}

.col1, .col2, .col3{
	padding:0 15px;
}

.mapping-sm_md{
	width:100%;
	margin:0;
	
}
.mapping-md{
	width:100%;
	
}
.col-lg-9{
	padding-left:20px;
}
.one{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #F4F5F6;
	width: 100% !important;
	height: 200px;
}
.flex-xs{
	list-style: none;
	color: black;
}
.flex-xs .image{
	width: 20%;
	
}
.font-weight-bolder{
	color: black !important;
}
.info{
	border-bottom: 1px solid rgb(197, 191, 191);
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.info1{
	padding-bottom: 10px;
	margin-bottom: 40px;
}
.info-double{
	border-top: 1px solid rgb(197, 191, 191);
	border-bottom: 1px solid rgb(197, 191, 191);
	padding-top: 10px;
	padding-bottom: 10px;
}
.info-solid-red{
	border-top:5px solid red;
	padding: 0 !important;
	margin:0 !important;
}
.info-solid-red .col-lg-3{

	padding-left: 0 !important;
	margin-left:0 !important;
	height: 100%;
}
.row-pos{
	margin:0;
	padding:0;
	display: flex;
	flex-direction: row;
	text-align: justify;
}
.row-pos span{
	border-top: 2px solid grey;
	display: inline-block;
	width: 100%;
	padding:0;
}
.img-pos{
	position: relative;
	height:60px;
	width:60px;
	margin:auto 0 auto auto;
	top: -30px;
	right:-10px;
}
.vs{
	width: 50px;
	height:50px;
	margin-bottom: 40px;
}
.latest{
	width: 100%;
	padding-right: 10px;
}
.pad-top{
	padding-top: 20px;
}
.bd{
border:1px solid #E6E6E6;
background-color: #FFFFFF;
}
.bckg{
	background: red;
}
.none div a{
	font-size: 1rem  !important;
	font-weight:700px  !important;
	line-height: 1.5rem  !important;
}